https://huggingface.co/datasets/mindweave/web-server-logs
pip install pandas
pip install huggingface_hub
pip install pandas numpy  matplotlib seaborn
pip install pyarrow
pip install fastparquet
pip install joblib
pip install flask fastapi uvicorn
pip install scikit-learn
pip install jupyter ipykernel