https://huggingface.co/datasets/mindweave/web-server-logs
pip install pandas
pip install huggingface_hub
pip install pandas numpy  matplotlib seaborn
pip install pyarrow
pip install fastparquet
pip install joblib
pip install flask fastapi uvicorn
pip install scikit-learn
pip install jupyter ipykernel
#Frontend
npm create vite@latest 
npm install
npm install axios
npm install react-router-dom
npm install socket.io-client
npm install recharts
#Backend
npm init -y
npm install express pg dotenv cors axios
npm install socket.io
npm install dotenv
npm install --save-dev nodemon